@using System
@using System.Globalization
@using System.Linq
@model EBPP.Domain.Entities.Documents.TargetDocument
@{
	Layout = null;
	var orderSubTotal = 0.00;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title>Saph Invoice</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />


	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/docTemplate.css")" />
</head>

<body>
	<div class=" container">
		<div class="companyinformation">


			<div class="logo">
				<img src="http://www.oi.com.br/ArquivosEstaticos/oi/images/logo-header.png" />
			</div>

			<div class="doctypenumber">

				<span class="doctype">Factura Nº</span>
				<span class="docnumber">255887</span>
			</div>

			<div class="doc_date">
				<span class="date_desc">Document Date</span> <span class="date"></span>06-08-2015
			</div>
			<div class="comp_name">CompanyName : @Model.Content.Header.Elements.First(e => e.Attribute == "Company").Value </div>
			<div class="comp_adress">
				Adress : @Model.Content.Header.Elements.First(e => e.Attribute == "Address").Value
			</div>
			<div class="comp_fiscal"><span class="nif_desc">NIF:</span><span class="nif_numb">520225669</span></div>


			<div class="comp_extras">* Cenas extra que dá jeito excrever aqui</div>

		</div>


		<div class="clientinformation">

			<div class="client_name">CompanyName : @Model.Content.Header.Elements.First(e => e.Attribute == "Company").Value </div>
			<div class="client_adress">
				Adress : @Model.Content.Header.Elements.First(e => e.Attribute == "Address").Value
			</div>
			<div class="client_fiscal"><span class="nif_desc">NIF:</span><span class="nif_numb">236587456</span></div>

			<div class="client_extras"></div>

		</div>


		<hr class="invisible" />
		<table class=" table table-bordered postable">
			<thead>
				<tr>
				<tr class="postheader">
					<td>Phone Number</td>
					<td>Minutes</td>
					<td>Cost</td>
					<td></td>


				</tr>
			</thead>
			<tbody>
				@foreach (var line in Model.Content.Body.Lines)
								{
																	var cost = double.Parse(line.Elements.First(e => e.Attribute == "Cost").Value, CultureInfo.InvariantCulture);
																	orderSubTotal += cost;
									<tr>
										<td>@line.Elements.First(e => e.Attribute == "PhoneNumber").Value</td>
										<td>@line.Elements.First(e => e.Attribute == "Minutes").Value</td>
										<td>@cost</td>

										<td class="right">
											<div class="sum-subtotal"> @orderSubTotal</div>
										</td>
									</tr>
																}
			</tbody>
		</table>


	</div>
</body>
</html>